<%- include('partials/header');%>
<h1>Post</h1>

<button type="btn btn-primary"><a href="/uploadnote">Add Note</a></button>


<button type="btn btn-primary"><a href="/uploadimgr">Add Photos</a></button>




<%- include('partials/footer'); %> 