<%- include('partials/header'); %>
<h1>Add Note</h1>
<div class="container">
    <form action="/home" method="post" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" type="text" name="note" placeholder="Note"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>


<%- include('partials/footer'); %> 