<%- include('partials/header'); %>
    <a href="/fetch">View Data Uploaded</a>
    <div class="container">
        <form action="/home" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="file" name="avatar">
            </div>
            <div class="form-group mt-3">
                <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" type="text" name="caption" placeholder="caption"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3" style="background-color: purple;
            padding: 6px 14px;
            border-radius: 17px;
            color: white;
            margin-left: -102px;">Upload</button>
        </form>
    </div>
    <%- include('partials/footer'); %>